<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-3">
      <h3>About Google</h3>
      <p><strong>Google Enterprize</strong></p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Beatus sibi videtur esse moriens. Transfer idem ad modestiam vel temperantiam, quae est moderatio cupiditatum rationi oboediens. Est enim effectrix multarum et magnarum voluptatum. Duo Reges: constructio interrete. Apud ceteros autem philosophos, qui quaesivit aliquid, tacet;

      Ergo ita: non posse honeste vivi, nisi honeste vivatur? Non potes, nisi retexueris illa. Atqui reperies, inquit, in hoc quidem pertinacem; Neque solum ea communia, verum etiam paria esse dixerunt. Quem si tenueris, non modo meum Ciceronem, sed etiam me ipsum abducas licebit. Ut id aliis narrare gestiant? Aliter homines, aliter philosophos loqui putas oportere? Nihil est enim, de quo aliter tu sentias atque ego, modo commutatis verbis ipsas res conferamus. Cum id fugiunt, re eadem defendunt, quae Peripatetici, verba.

      Et quidem Arcesilas tuus, etsi fuit in disserendo pertinacior, tamen noster fuit; Ratio quidem vestra sic cogit. Animum autem reliquis rebus ita perfecit, ut corpus; Quamquam tu hanc copiosiorem etiam soles dicere. Primum in nostrane potestate est, quid meminerimus? Omnia contraria, quos etiam insanos esse vultis. Nihil opus est exemplis hoc facere longius. Vos autem cum perspicuis dubia debeatis illustrare, dubiis perspicua conamini tollere. Facillimum id quidem est, inquam. An eum discere ea mavis, quae cum plane perdidiceriti nihil sciat?</p>
      <p><a href="">Company Website &rarr;</a></p>
    </div>
    <div class="col-xs-12 col-md-9">
      <h3>Job Detail <span class="pull-right"><small><a href="index.html">&larr; All Jobs</a></small></span></h3>
      <div class="">
        <h2><%= @gig.name %></h2>
        <p><i class="glyphicon glyphicon-calendar"></i> <%= @gig.created_at.strftime("%b %d, %Y") %> | <i class="glyphicon glyphicon-map-marker"></i> <%= @gig.location %> | <span class="label label-success">Freelance</span></p>
        <br>
        <legend>Overview</legend>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed utrum hortandus es nobis, Luci, inquit, an etiam tua sponte propensus es? Nonne videmus quanta perturbatio rerum omnium consequatur, quanta confusio? Et ille ridens: Video, inquit, quid agas; Sed quae tandem ista ratio est? Qui autem diffidet perpetuitati bonorum suorum, timeat necesse est, ne aliquando amissis illis sit miser. Summus dolor plures dies manere non potest?
        </p>
        <legend>Description</legend>
        <p><%= @gig.description %></p>
      </div>
    </div>
  </div>
</div>
